@use '../../config/variables.scss' as v;

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.changeValueButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: v.$white;
  border: 2px solid v.$brown;
  border-radius: 50%;
  color: v.$brown;

  &:active {
    outline: 2px solid rgb(v.$brown, 37%);
  }
}

.input {
  width: 50px;
  padding: 5px;
  background-color: v.$white;
  border: 2px solid v.$brown;
  color: v.$brown;
  text-align: center;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
}