@use './variables.scss' as v;

@mixin input {
  padding: 5px;
  background-color: v.$white;
  border: 2px solid v.$brown;
  border-radius: 10px;
  color: v.$brown;
  text-align: center;
  box-shadow: rgba(v.$brown, 42%) 0 1px 2px inset;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
}

@mixin button {
  background-color: v.$lightBrown;
  border: 2px solid v.$brown;
  border-radius: 10px;
  color: v.$brown;
  box-shadow: rgba(v.$midBrown, 40%) 0 2px 3px, rgb(v.$black, 27%) 0 7px 13px -3px, rgba(v.$brown, 40%) 0 -3px 0 inset;
  
  &:active {
    outline: 2px solid rgb(v.$brown, 37%);
  }

  &:disabled {
    opacity: 0.6;
  }
}