@use '../../config/variables.scss' as v;
@use '../../config/mixins';

.wrapper {
  display: grid;
  grid-template-columns: 30px 60px 30px;
  align-items: center;
  gap: 2px 10px;
}

.changeValueButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: v.$white;
  border: 2px solid v.$brown;
  border-radius: 50%;
  color: v.$brown;

  &:active {
    outline: 2px solid rgb(v.$brown, 37%);
  }
}

.title {
  grid-column: 1 / -1;
  text-align: center;
  color: v.$brown;
  font-size: 12px;
}

.input {
  @include mixins.input;
}