@use '../../../config/variables.scss' as v;
@use '../../../config/mixins';

.wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}

.input {
  @include mixins.input;
  width: 30px;
  border-radius: 6px;
}

.currency {
  color: v.$brown;
  font-size: 15px;
}